h1 {
	text-align: center;
	font-size: 40px;
}

.doc {
    background-image:url("christmasbackground.jpg");
	background-color:#585858; /* The color used if image is not available */
    background-repeat: repeat; /* Do not repeat the image */
    background-size: 100%; /* Resize the background image to cover the entire page */
	color: black;
	font-family: Arial;
}

.navbar {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	background-color: #333;
  	overflow: hidden;
  	border-radius: 8px;
}

.navlist {
  	float: left;
}

.navtext {
	display: block;
	color: white;
	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
  	font-size: 19px;
}

.navtext:hover {
	background-color: #111;
}

.active {
	background-color: #4CAF50;
}

#productimg {
	/*display: block;
	margin-left: auto;
  	margin-right: auto;*/

  	float: right;
  	width: 35%;
  	margin-right: 12px;
}

#preorderimg {
	float: right;
  	width: 40%;
  	margin-right: 0px;
}

#treeimg {
  /*display: block;
  margin-left: auto;
    margin-right: auto;*/

    float: right;
    width: 25%;
    margin-right: 24px;
}

#wckimg {
	float: right;
  	width: 27%;
  	margin-right: 50px;
}

.info {
	font-size: 18px;
	max-width: 60%;
	margin-left: 12px;
	margin-top: 40px;
    color: black;
    background: rgba(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 18px;
}

.charitytext {
	font-size: 22px;
	max-width: 60%;
	margin-left: 12px;
	margin-top: 40px;
    color: black;
    background: rgba(255, 255, 255, 0.6);
    padding: 15px;
    border-radius: 18px;
}

.bottomtext {
	position: fixed;
  	bottom: 0;
  	right: 0;
  	width: 500px;
  	margin-right: 4px;
  	border: 3px;
}
